<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<title>Store</title>
</head>
<body >
	<div id="body" @mousemove="mmove($event)" @mouseup="mouseups">
	<header>
		<div class="top">
			<div class="wrapper">
				<div class="righttop">
					<nav>
						<a href="#">О компании </a>
						<a href="#">Доставка и оплата </a>
						<a href="#">Гарантия</a>
					</nav>
					<a href="tel: 8 800 123-45-67" style="margin-right: 0;">8 800 123-45-67</a>
				</div>

				
				<div>
					<button><img src="images/Phone.svg" alt="phone_icon">Заказать звонок</button>
					<button @click="showlogin=true"><img src="images/man.svg" alt="man_icon">Войти</button>
				</div>
			</div>
		</div>
		<div class="header">
			<div class="wrapper">
				<nav>
					<ul class="menu">
						<li>Мужчинам
							<ul class="submenu">
								<li class="submenu_item">Платья</li>
								<li class="submenu_item">Блузы и рубашки</li>
								<li class="submenu_item">Брюки</li>
								<li class="submenu_item">Боди</li>
								<li class="submenu_item">Костюмы и пиджаки</li>
								<li class="submenu_item">Джинсы</li>
								<li class="submenu_item">Домашняя одежда</li>
								<li class="submenu_item">Футболки и поло</li>
								<li class="submenu_item">Купальники и пляжная одежда</li>
							</ul>
						</li>
						<li>Женщинам
							<ul class="submenu">
								<li class="submenu_item">Платья</li>
								<li class="submenu_item">Блузы и рубашки</li>
								<li class="submenu_item">Брюки</li>
								<li class="submenu_item">Боди</li>
								<li class="submenu_item">Костюмы и пиджаки</li>
								<li class="submenu_item">Джинсы</li>
								<li class="submenu_item">Домашняя одежда</li>
								<li class="submenu_item">Футболки и поло</li>
								<li class="submenu_item">Купальники и пляжная одежда</li>
							</ul>
						</li>
						<li>Акции
							<ul class="submenu">
								<li class="submenu_item">Платья</li>
								<li class="submenu_item">Блузы и рубашки</li>
								<li class="submenu_item">Брюки</li>
								<li class="submenu_item">Боди</li>
								<li class="submenu_item">Костюмы и пиджаки</li>
								<li class="submenu_item">Джинсы</li>
								<li class="submenu_item">Домашняя одежда</li>
								<li class="submenu_item">Футболки и поло</li>
								<li class="submenu_item">Купальники и пляжная одежда</li>
							</ul>
						</li>
					</ul>
					<div class=logo>
						<img src="images/LOGOTYPE.svg" alt="Логотип">
					</div>
				</nav>
				<div class="options">
					<div class="option">
						<div class="icon">
							<img src="images/Search.svg" alt="Поиск">
							
						</div>	
						<span>Поиск по сайту</span>
					</div>
					<div class="option">
						<div class="icon" >
							<img src="images/Heart.svg" alt="Поиск">

							<span class="count" id="favor" v-if="favor===NaN">6</span>
							<span class="count" v-if="favor>0">{{favor}}</span>
						</div>	
						<span>Избранное</span>
					</div>
					<div class="option">
						<div class="icon">
							<img src="images/Cart.svg" alt="Поиск">
							<span class="count">5</span>
						</div>	
						<span>Корзина</span>
						<div class="cart">
							<p class="incart">Ваша корзина пуста <img src="images/noun_Sad_1711332.png" style="margin-left: 6px;"></p>
							<p class="incart">В корзину</p>
							<div class="cart_product">
								<div>
									<img src="images/miniphoto.png">
									<div class="cart_info">
										<p class="title">
											<span >Dorogobogato</span>
											<span class="price"><span class="old_price">5000</span> <span class="red_sale">2700руб.</span></span>
										</p>
										<p><span>Размер: 40 RUS</span><span>1 шт.</span></p>
									</div>
								</div>
								<div>
									<img src="images/miniphoto.png">
									<div class="cart_info">
										<p class="title">
											<span >Dorogobogato</span>
											<span class="price">2700руб.</span>
										</p>
										<p><span>Размер: 40 RUS</span><span>1 шт.</span></p>
									</div>
								</div>
							</div>
							<p class="result">Итого: <strong>2 товара</strong> на сумму <strong>7000 руб.</strong></p>
							<div class="buttongroup"><button>В корзину</button><button>Оформить заказ</button></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div>
		<div class="wrapper">
			<ul class="path">
				<li><a href="#">Главная</a></li>
				<li><a href="#">Каталог</a></li>
				<li><a href="#">Платья</a></li>
			</ul>
		</div>
	</div>

	<main style="margin-bottom: 50px">
		<div class="description_product">
			<div class="photo_product" v-if="slides">
					<div class="miniatures">
						<div class="miniature" v-for="(item,index) in slides"
											   @click="slideChange(index)"
											   :class="{active: item.isActive}"
						><img :src=item.path_mini></div>
					</div>
					<div class=main_photo>
					<div class=dies>
						<div class="novelty">Новинка</div>
						<div class="sell_out">Распродажа</div>
					</div>
					<img :src="slide">
					<div class="control next" :class='{disabled: next}' @click="nextSlide"></div>
					<div class="control prev" :class='{disabled: prev}' @click="prevSlide"></div>
				</div>
				
			</div>
			<div class="photo_product" v-else="slides">
					<div class="miniatures">
						<div class="miniature active"><img src="images/Photo1-mini.png"></div>
						<div class="miniature"><img src="images/Photo2-mini.png"></div>
						<div class="miniature"><img src="images/Photo3-mini.png"></div>
						<div class="miniature"><img src="images/Photo4-mini.png"></div>
					</div>
					<div class=main_photo>
					<div class=dies>
						<div class="novelty">Новинка</div>
						<div class="sell_out">Распродажа</div>
					</div>
					<img src="images/photo1.png">
					<div class="control next"></div>
					<div class="control prev disabled"></div>
				</div>
				
			</div>
			<div class="specifications">
				<h1>United Colors of Benetton, Джемпер</h1>
				<details open class="first">
					<summary></summary>
					<p><span class="name_details">Артикул:</span> <strong>FASHION00757</strong></p>
					<p><span class="name_details">Бренд:</span> Benetton</p>
					<p><span class="name_details">Цвет:</span> Темно-синий</p>
				</details>
				<div class="price">
					<span class="old_price">3 500 руб.</span><sup>-45%</sup>
					<span class="red_sale">2100 руб.</span>
					
				</div>
				<div class="desc_sizes">
					<p>Таблица размеров</p>
					<div class="size_group">
						<div class="size">42</div>
						<div class="size">44</div>
						<div class="size">46</div>
						<div class="size">48</div>
						<div class="size">50</div>
					</div>
				</div>
				<div class="button_group">
					<button>Добавить в корзину</button>
					<button class="add_to_favor"></button>
				</div>
				<div class="desc_colors">
					<h3>Цвет:</h3>
					<div class="colors_group" v-if="photos">
						<div class="tcolor" v-for="(item,index) in photos"
											:class="{active: item.isActive}"
											@click="changeColor(index)">
											<img :src="item.path">
						</div>
					</div>
						<div class="colors_group" v-else="photos">
							<div class="tcolor active"><img src="images/tcolor1_photo_4.png"></div>
							<div class="tcolor"><img src="images/tcolor2_photo_4.png" alt=""></div>
							<div class="tcolor"><img src="images/tcolor3_photo_4.png.png" alt=""></div>
							<div class="tcolor"><img src="images/tcolor4_photo_4.png.png" alt=""></div>
						</div>
				</div>
				<div class="desc_detail">
					<h3>Информация о товаре</h3>
					<div class="details" :style="styleDetails" id=details>
						<div class="halftrans" :class="{showDetails: shown}"></div>
						<p>Состав: <strong>Вискоза - 45%, Полиэстер - 40%, Акрил - 15% </strong></p>
						<p>Размер товара на модели: <strong>42/44</strong></p>
						<p>Длина: <strong>130 см</strong></p>
						<p>Длина рукава: <strong>28 см</strong></p>
						<p>Длина: <strong>130 см</strong></p>
						<p>Длина рукава: <strong>28 см</strong></p>
						<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.</p>
						
					</div>
					<p class="open" v-on:click="showDetail"><span v-if="shown">Свернуть</span> <span v-else="shown">Развернуть</span><img src="images/Arrow.png" alt="" :class="{showDetails: shown}"></p>
				</div>
			</div>
		</div>
		
	</main>
	<section class="carousel">
		<div class="wrapper">
			<header><h2>Вам могут понравиться</h2>
				<ul class="car_bar">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li class="active"></li>
				</ul>
			</header>
			<div class="cardcontainer">
				<div class="cardrow">
					<article class="product">
					<div class="prod_wrapper">
						<div class="photo">
							<div class="like" @click=like($event,1)></div>
							<img src="images/Photo.png" alt="фото товара">
							<div class="sale" data-sale="none"> -45%</div>
						</div>
					<div class="title hov">
						<span class="title_product">United color of&nbsp;Benefit</span><span class="category">/Толстовки</span>
					</div>
					<div class="price">
						<span class="old_price">3 500руб</span>
						<span class="red_sale">2100руб</span>
						
					</div>
					<button>Подробнее</button>
					</div>
				</article>
				<article class="product">
					<div class="prod_wrapper">
					<div class="photo">
						<div class="like liked" @click=like($event,2)></div>
						<img src="images/Photo.png" alt="фото товара">
						<div class="sale"> -45%</div>
					</div>
					<div class="title hov">
						<span class="title_product ">United color of&nbsp;Benefit</span><span class="category">/Толстовки</span>
					</div>
					<div class="price">
						3 500руб
					</div>
					<button>Подробнее</button>
				</div>
				</article>
				<article class="product">
					<div class="prod_wrapper">
					<div class="photo">
						<div class="like" @click=like($event,3)></div>
						<img src="images/Photo.png" alt="фото товара">
						<div class="sale"> -45%</div>
					</div>
					<div class="title hov">
						<span class="title_product ">RUGATCHI&WEAR</span><span class="category">/Джемпер</span>
					</div>
					<div class="price">
						<span class="old_price">3 500руб</span>
						<span class="red_sale">2100руб</span>
					</div>
					<button>Подробнее</button>
				</div>
				</article>
				<article class="product">
					<div class="prod_wrapper">
					<div class="photo">
						<div class="like" @click=like($event,4)></div>
						<img src="images/Photo.png" alt="фото товара">
						<div class="sale"> -45%</div>
					</div>
					<div class="title hov">
						<span class="title_product">United color of&nbsp;Benefit</span><span class="category">/Толстовки</span>
					</div>
					<div class="price">
						<span class="old_price">3 500руб</span>
						<span class="red_sale">2100руб</span>
					</div>
					<button>Подробнее</button>
				</div>
				</article>
				<article class="product">
					<div class="prod_wrapper">
					<div class="photo">
						<div class="like" @click=like($event,5)></div>
						<img src="images/Photo.png" alt="фото товара">
						<div class="sale"> -45%</div>
					</div>
					<div class="title hov">
						<span class="title_product ">United color of&nbsp;Benefit</span><span class="category">/Толстовки</span>
					</div>
					<div class="price">
						3 500руб
					</div>
					<button>Подробнее</button>
				</div>
				</article>
				<article class="product">
					<div class="prod_wrapper">
					<div class="photo">
						<div class="like" @click=like($event,6)></div>
						<img src="images/Photo.png" alt="фото товара">
						<div class="sale"> -45%</div>
					</div>
					<div class="title hov">
						<span class="title_product ">RUGATCHI&WEAR</span><span class="category">/Джемпер</span>
					</div>
					<div class="price">
						<span class="old_price">3 500руб</span>
						<span class="red_sale">2100руб</span>
					</div>
					<button>Подробнее</button>
				</div>
				</article>
				<article class="product">
					<div class="prod_wrapper">
						<div class="photo">
						<div class="like" @click=like($event,7)></div>
						<img src="images/Photo.png" alt="фото товара">
						<div class="sale"> -45%</div>
					</div>
					<div class="title hov">
						<span class="title_product">United color of&nbsp;Benefit</span><span class="category">/Толстовки</span>
					</div>
					<div class="price">
						<span class="old_price">3 500руб</span>
						<span class="red_sale">2100руб</span>
					</div>
					<button>Подробнее</button>
					</div>
				</article>
				<article class="product">
					<div class="prod_wrapper">
					<div class="photo">
						<div class="like" @click=like($event,8)></div>
						<img src="images/Photo.png" alt="фото товара">
						<div class="sale"> -45%</div>
					</div>
					<div class="title hov">
						<span class="title_product ">United color of&nbsp;Benefit</span><span class="category">/Толстовки</span>
					</div>
					<div class="price">
						3 500руб
					</div>
					<button>Подробнее</button>
				</div>
				</article>
				<article class="product">
					<div class="prod_wrapper">
					<div class="photo">
						<div class="like" @click=like($event,9)></div>
						<img src="images/Photo.png" alt="фото товара">
						<div class="sale"> -45%</div>
					</div>
					<div class="title hov">
						<span class="title_product ">RUGATCHI&WEAR</span><span class="category">/Джемпер</span>
					</div>
					<div class="price">
						<span class="old_price">3 500руб</span>
						<span class="red_sale">2100руб</span>
					</div>
					<button>Подробнее</button>
				</div>
			</article>
				</div>
			</div>
		</div>		
	</section>
	<section class="lastseen" style="margin-bottom: 80px">
				<div class="wrapper">
					<h2>Вы смотрели (1)</h2>
				<section>
					<article>
						<img src="images/Photo.png">
					<div class="title">
						Dorogobogato<span class="category">/Платье</span> 
					</div>
					</article>
				</section>
					
				</div>
				
			</section>
	<footer>
		<div class="wrapper">
			<div class="help">
				<h3>Помощь</h3>
				<ul>
					<li> Доставка и оплата</li>
					<li>Как оформить заказ</li>
					<li>Как выбрать размер</li>
					<li>Возврат товара</li>
					<li>Оферта</li>
					<li>Политика конфиденциальности</li>
				</ul>
			</div>
			<div class="society">
				<h3>Мы в соц. сетях</h3>
				<div class="icongroup">
					<img src="images/facebook.png" alt="facebook">
					<img src="images/vk.png" alt="vk">
					<img src="images/googleplus.png" alt="google+">
					<img src="images/ok.png" alt="ok">
					<img src="images/youtube.png" alt="youtube.png">
				</div>
				<h3>Контакты</h3>
				<p>	<a href="tel:8 800 123-45-67 "><strong>8 800 123-45-67</strong> </a></p>
				<p>	<a href="mail@site.ru ">mail@site.ru </a></p>
				
			</div>
			<div class="payment">
				<h3>Способы оплаты</h3>
				<div class="icongroup">
					<img src="images/visa.png" alt="visa">
					<img src="images/mastercard.png" alt="mastercard">
					<img src="images/paypal.png" alt="paypal">
				</div>
				<p>
					Вы можете оплатить покупки наличными при получении, либо выбрать другой способ оплаты.
				</p>
			</div>
		</div>
	</footer>
<login-window v-show="showlogin" @cancelwindow="showlogin=false"></login-window>
</div>
</body>
<script src="dist/main.js"></script>	
</html>