@black: #333333;
@white: #fff;
@gold: #DAC6AF;
@red: #CE3131;
@fz15: 15px;
@fz14: 14px;
@padding: 16px;
@p: 12px;
@opacity: 0.5;
@border: 0.5px solid rgba(51, 51, 51, 0.25);
* {
	font-family: 'Montserrat', sans-serif;
	color: #333333;
	box-sizing: border-box;
}
a {	
	text-decoration:none;
	&:hover {
		text-decoration: underline;
	}
}
body {
	margin: 0;
	font-size: 12px;
	margin-right: -20px;
}
h1 {
	font-style: medium;
	font-size: 36px;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: @padding;
	line-height: 30px;
}
ul {
	list-style-type: none;
}
li {
	cursor: pointer;
}

.width(@var) {
	max-width: 80 * @var - 16px;
	width: 100%;
}
.flex_between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.flex_center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.wrapper, main {
	max-width: 976px;
	padding: 0 16px;
	width: 100%;
	display: flex;
	margin: auto;
}
main {
	margin-bottom: 80px;
}
button, input[type="submit"] {
	cursor: pointer;
	height: 40px;
	background-color: @gold;
	border: none;
	font-weight: 500;
	.flex_center();
	font-size: @p;
	img {
		margin-right: 5px;
	}
	&:hover {
		opacity: 0.5;
		transition: 0.2s;
	}
}
.top {
	height: 40px;
	background: @black;
	width: 100%;
	white-space: nowrap;
	display: flex;

	a {
		color: @white;
		margin-right: 14px;
	}
	button {
		.width(2);
	}
	.wrapper {
		align-items: center;
		
		justify-content: space-between;
		&> div {
			display: flex;
			justify-content: space-between;
			.width(6);
		}

	}
}
.righttop {
	margin-right: 16px;
}
.header {
	height: 80px;
	border-bottom: @border;
	.wrapper {
		height: 100%;
		.flex_between();
	}
	& * {

	}
	nav {
		height: inherit;
		.width(7);
		.flex_between();
	}
	.menu {
		font-size: @fz15;
		
		padding: 0;
		height: inherit;
		.width(4);
		.flex_between();
		& :first-child {
				ul {
					left: 0;
				}
			}
		li {
			ul {
				border-left: @border;
				border-right: @border;
			}
			li {
				height: 32px;
			}
			display: flex;
			align-items: center;
			height: inherit;
			cursor: pointer;
			position: relative;
			&:hover .submenu {
				display: block;
				font-size: @p;
			}
		}
	}
}
.submenu_item {
	padding-left: 20px;
	border-bottom: 0.5px solid #C4C4C4;
	&:hover {
		background: @gold;
		transition: 0.2s;
	}
}
.submenu {
	position: absolute;
	display: none;
	z-index: 9999;
	left: -20px;
	padding: 0;
	background: @white;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.11);
	width: 16.25 * @padding;
	transition: 0.2s;
	top: 100% + 1px;
}
.m_right0 {
	margin-right: 0;
}
.tel {
	font-size: 14px;
	font-weight: 500;
}
.options {
	display: flex;
	justify-content: row-reverse;
	font-size: @p;
	height: 100%;
}
.count {
	position: absolute;
	display: flex;
	background: @black;
	color: white;
	border-radius: 50%;
	top: -50%;
	right: -50%;
	font-size: 10px;
	width: 15px;
	height: 15px;
	align-items: center;
	justify-content: center;
}
.option {
	position:relative;
	margin-left: 1.5 * @padding;
	.flex_center();
	&:hover .cart{
		display: flex;
	}
}
.icon {
	margin-top: 4px;
	position: relative;
	margin-right: 5px;
	display: inline-block;
	img {
		width: @padding;
	height: @padding;
	}
}
header {
	margin-bottom: 40px; 
}
.filter {
	.submenu {
		li {
			border: 0;
		}
		display: none;
		position: static;
	}
	.submenu_item {
		margin-top: 11px;
		&:hover {
			background-color: inherit;
		}
	}
	
	.width(3);
	ul {
		padding:0;
		margin-top: 0;
		font-size: @fz14;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin-bottom: 12px;

	}
	li > div {
		display: inline-block;
		vertical-align: middle;
		height: 2* @padding;
	}
	li {
		
		div {
			padding: @padding / 2;
		}
		display: block;
		&:hover > div, &.active > div, {
			font-weight: 500;
			background: @gold;
			transition: 0.2s;
		}
		 
		&.active > .submenu {
			display: block;
			font-size: @p;
			width: auto;
			border-bottom: 0 !important;
			box-shadow: none;
		}
	}
}
.js-range-slider {
	width: 152px;

}
.irs {
	max-width: 152px;
	margin-bottom: 13px;
}
.irs--round {
	height: 20px;
}
.irs--round .irs-handle  {
	top: 0;
	border: 0;
	background: @gold;
	&:hover {
		background: @gold;

	}
}
.irs--round .irs-bar{
	top: 10px;
	opacity: 0.5;/* Color2 */
	border: 2px solid #333333
}
.irs--round .irs-line{
	top: 10px;
}
input[type="number"] {
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
	width: 45px;
	height: 17px;
	border: 0;
	padding: 2px 7px;
	appearance: none;
	    -webkit-appearance:none;
	    -moz-appearance: textfield;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
label {
	display: flex;
	align-items: center;
	font-size: 10px;
	margin-right: 21px;
}
.input_price {
	display: flex;
	align-items: center;
}
.price_range {
	margin-bottom: 30px;
}
.input_sizes {
	max-height: 150px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;

}
.input_size {
	input {
		display: none;
	}
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: row;
	margin-bottom: 10px;
	.check_text {
		margin-left: 15px;
	}
	.check_text:before {
		content: '';
		display: block;
		position: absolute;
		left: -2px;
		width: 12px;
		height: 12px;
		border: @border;
		margin-right: 3px;
	}
	input:checked + .check_text:before {
		content: '✓';
		background: @gold;
		.flex_center();
		font-size: 13px;
		font-weight: 600;

	}
}
.rest {
	opacity: 0.5;
}
.color-blue {
	background: #31A8CE;
}
.color-red {
	background: #CE3131;
}
.color-orange {
	background: #E45A0D;
}
.color-yellow{
	background: #FEE821;
}
.color-black {
	background: @black;
}
.color-purple {
	background: #EC20D8;
}
.outline(@var) {
	border: 1px solid @white;
	outline: 2px solid @var;
}
.color-darkblue{
	background: #3431CE;
}
.color-white{
	background: @white;
	border: 1px solid @black;

}
.color-green{
	background: #31CE70;
}
.color {
	margin-bottom: 10px;
	margin-right: 10px;
	input {
		display: none;
	}
	div {
		width: 30px;
		height:30px;
		color: transparent;
		
		
	}
	input:checked + .color-blue {
		.outline(#31A8CE);
	}
	input:checked + .color-red {
		.outline(#CE3131);
	}
	input:checked + .color-orange {
		.outline(#E45A0D);
	}
	input:checked + .color-yellow {
		.outline(#FEE821);
	}
	input:checked + .color-black {
		.outline(@black);
	}
	input:checked + .color-purple {
		.outline(#EC20D8);
	}
	input:checked + .color-darkblue {
		.outline(#3431CE);
	}
	input:checked + .color-white {
		.outline(@black);
	}
	input:checked + .color-green{
		.outline(#31CE70);
	}
}
.catlaog {
	.width(9);
}
.col_input {
	display: flex;
	flex-wrap: wrap;
}

.sort {
	a {
		text-decoration: underline;
		margin-right: 9px;
	}
}
.namesort {
	display: inline-block;
	margin-right: 6px;
}
.justify {
	.flex_between();
	margin-bottom: 11px;
}
.pages {
	.width(2);
	.flex_between();
}
.page {
	font-size: @fz14;
	opacity: 0.5;
	&.active {
		opacity: 1;
	}
}
.products {
	.width(9);
	display: flex;
	flex-wrap: wrap;
	& :nth-child(3n) {
		margin-right: 0;
		.width(3);
	}

}
.prod_wrapper {
	position: absolute;
	overflow: hidden;
	display: flex;
	transition: 0.2s;
	flex-direction: column;
	z-index: 10;
	height: 100%;	
	.title {
		font-size: 	@fz14;
		width: 214px;	
		flex-direction: column;
	}
	.category {
		opacity: 0.5;
		white-space: nowrap;
	}
	img {

	}
	&:hover .photo .like {
		display: block;
	}
	.liked {
		width: 25px !important;
		right: 9px !important;
		background-image: url(likehover.png) !important;
		background-size: cover;
		display: block !important;
		z-index: 1;
		
}

	.price {
		margin-top: auto;
	
		font-weight: 600;
		font-size: 16px;
		& > *{
			margin-right: 20px;
		}
		
	}
	
	button {
		.width(3);
		margin-top: 10px;
		display: none;

		font-size: @fz14;
		height: 0;
		min-height: 40px;
	}
	
	&:hover button{
		height: 40px;
		display: block;
	}
	&:hover .price {
		margin-top: 0;
	}
	
}
.old_price {
			text-decoration-line: line-through;
			opacity: @opacity;
		}
		.red_sale {
			color: @red;
		}
.product {
	position: relative;
	.width(3);	
	min-height: 405px;
	margin-right: 16px;
	margin-bottom: 30px;
	&:hover .prod_wrapper{
		height: auto;
		z-index: 9999;
		background: @white;		
		transform: scale(1.12,1.12);
		padding: 8px;
		border: @border;
		
	}
}


.photo {
	display: inline-flex;
	position: relative;
	img {
		width: 100%;
	}
	.sale {
		position: absolute;
		left: 0;
		bottom: 0;
		background: @red;
		color: @white;
		width: 37px;
		height: 18px;
		font-size: 10px;
		.flex_center();
	}
	.like {
		transition: 0.2s;
		position: absolute;
		width: 23px;	
		height: 22px;
		top: 15px;
		right: 10px;
		cursor: pointer;
		display: none;
		background: url("like.png");
		background-size: cover;
		z-index: 9999;
	}
	.like:hover {
		width: 25px;
		right: 9px;
		background-image: url(likehover.png);
		background-size: cover;
	}
}
nav.right {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 26px;
}
.lastseen {
	section {
		display: flex;
	}
	h2 {
		margin-bottom: 21px;
	}
	article {
		.width(2);
		margin-right: @padding;
		overflow: hidden;
	}
	img {
		width: 100%;
		margin-bottom: 15px;
	}
	.category {
		opacity: 0.5;
	}
}
footer {
	* {
		color: @white;
	}
	padding-top: 43px;
	h3 {
		margin-top: 0;
		margin-bottom: 14px;
		color: @white;
	}
	ul {
		padding: 0;
		margin-bottom: 0;
	}
	li:last-child {
		margin-bottom: 0;
	}
	li {
		margin-bottom: 9px;
	}
	
	background: @black;
	.wrapper{
		color: @white;
		& > div {
			.width(3);
			margin-right: 80px;
		}
	}
	.icongroup {
		display: flex;
		align-items: flex-end;	
		margin-bottom: 24px;
		&:last-child {
			margin-right: 0;
		}
		img{
			margin-right: 24px;
			
			
		}
		.icongroup {

		}
	}
	
}
.login{
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 9999;
	transform: translate(-50%,-50%);
	max-width: 450px;
	width: 100%;
}
.login-window {
	position:relative;
	background: @white;
	padding-top: 31px;
	padding-bottom: 37px;
	display: flex;

	flex-direction: column;
	align-items:center;
	z-index: 9999;
	h3 {
		margin-top: 0; 
		margin-bottom: 16px;
	}
	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 250px;
		width: 100%;
		
		
	}
	input {
		&[type="text"], &[type="password"],&[type="email"]{
			width: inherit;
			border-bottom: 1px solid #333333;
			padding-bottom: 9px;
		}
		&[type="submit"] {
			max-width: 180px;
			width: 100%;
			margin-bottom: 19px;
		}
		text-align: center;
		margin-bottom: 26px;
		outline: none;
		border: none;
		
		
	}
	label {
		margin-bottom: 10px;
	}
	h3 {
		font-size: 22px;
		font-weight: 500;
	}
	p {
		margin-top: 0;
	}
	.icongroup {
		margin-bottom: 20px;
	& > * {	margin-right: 16px; }
	& :last-child {
		margin-right: 0;
	}
	}
	a {
		text-decoration: underline;
	}
	a+a {
		margin-top: 9px;
	}
	.close {
		position: absolute;
		width: 15px;
		height: 15px;
		top: 10px;
		right: 10px;
		cursor: pointer;
	}

	
}
.shadowbox {
		position: absolute;
		width: 85%;
		box-shadow: 0 0px 15px 10px @black;
		bottom: 0;
		z-index:0;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
}
.cart {
	display: none;
	max-width: 287px;
	width: 287px;
	background: @white;
	padding: 17px 18px;
	padding-bottom: 27px;
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translateY(100%);
	z-index: 9999;
	
	flex-direction: column;
	img {
		margin-right: 7px;
	}
	.buttongroup {
		.flex_between();
		button {
			width: calc(50% - 4.5px);
		}
	}
	.title {
		font-weight: 600;
	}
	.old_price {
		opacity: 1;
	}
}
.incart {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 0;
}
.cart_product {
	width: 100%;
	p {
		margin: 0;
	}
	div {
		display: flex;
	}
	& > div {
		margin-bottom: 17px;
	}

}
.cart_info {
		flex-direction: column;
		width: 100%;
		p {
			margin-top: 4px;
			.flex_between();
		}
}
.result {
	margin-top:0;
	margin-bottom: 16px;
}
div[data-sale="none"]{
	display: none !important;
}
.range {
	width: 157px;
	position: relative;
	height: 20px;
	margin-bottom: 10px;
	overflow:hidden;
	& > * {
		position: absolute;

	}
	.from, .to {
		top: 0;
		width: 20px;
		height: 20px;
		background: @gold;
		border-radius: 50%;
		z-index: 9999;
	}
	.from {
		left: 0;
	}
	.to{
		right: 0;
	}
	.bar {
		top: 50%;
		transform: translateY(-50%);
		width: calc(100% - 20px);
		left: 10px;
		height: 2px;
		background: #dee4ec;
	}
	.progress {
		background: @black;
		opacity: 0.5;
		z-index: 5000;
	}
}
